body{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
  overflow:hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;

  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  touch-action: none;
}
*{
  overflow:hidden;
}
#header{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow:visible;
}
#title{
  font-size:32px;
  height:44px;
}
#moves_container{
  display:flex;
  overflow:visible;
}
#row_moves{
  display:flex;
  align-items: center;
  height:44px;
  width:calc(40px * 8 + 20px);
  overflow:visible;
}
#row_moves div{
  height:38px;
  width:38px;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  margin:0 2px;
}
.move_plus{
  background:#2E64FE;
  clip-path: polygon(90% 1%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.move_minus{
  background:#FF0040;
  clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 15% 100%, 0% 50%, 15% 0%);
}
.move_times{
  background:#FE9A2E;
  clip-path: polygon(0% 15%, 50% 0%, 100% 15%, 100% 100%, 50% 85%, 0% 100%);
}
.move_divided{
  background:#3ADF00;
  clip-path: polygon(0% 0%, 50% 15%, 100% 0%, 100% 85%, 50% 100%, 0% 85%);
}
#moves_dummy{
  width:38px;
  display: none;
}
#move_excess{
  height:38px;
  width:38px;
  font-size:1.4rem;
  display: none;
  text-align:center;
  background:#ddd;
  line-height:28px;
  margin-top:4px;
  border-radius:4px;
}
#row_buttons{
  display:flex;
  align-items: center;
  cursor:pointer;
}
#row_buttons div:active{
  background:#ddd;
}
.button{
  display:flex;
  align-items: center;
  padding:10px 10px;
}

#stage_container{
  height:95vw;
  width:95vw;
  max-height:500px;
  max-width:500px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
#stage{
  height:calc(95vw - 40px);
  width:calc(95vw - 40px);
  max-height:460px;
  max-width:460px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.row{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;
  font-size:20px;
  font-weight:bold;
}
.cell{
  margin:2px;
  height:calc(95vw/5 - 12px);
  width:calc(95vw/5 - 12px);
  max-height:88px;
  max-width:88px;
  border-radius:8px;
  background:#ccc;
  cursor:pointer;
}
#piece{
  position:absolute;
  height:calc(95vw/5 - 12px);
  width:calc(95vw/5 - 12px);
  max-height:88px;
  max-width:88px;
  border-radius:50%;
  background:#08088A;
  color:white;
  transition: all 0.2s;

  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
}
#plus{
  background:#2E64FE;
  color:white;
}
#minus{
  background:#FF0040;
  color:white;
}
#times{
  background:#FE9A2E;
  color:white;
}
#divided{
  background:#3ADF00;
  color:white;
}
#plus,#minus{
  height:calc(95vw - 40px);
  max-height:460px;
  width:20px;
  border-radius:4px;
  display:flex;
  justify-content: center;
  align-items: center;
}

#times,#divided{
  height:20px;
  width:calc(100% - 40px);
  max-width:460px;
  border-radius:4px;
  display:flex;
  justify-content: center;
  align-items: center;
}


.numerator,.denominator{
  position:absolute;
  height:calc(95vw/10 - 6px);
  width:calc(95vw/10 - 6px);
  max-height:44px;
  max-width:44px;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow:visible;
}
.numerator {
  top:4px;
  left:4px;
}
.denominator {
  top:min(calc(95vw/10 - 10px), 40px);
  left:min(calc(95vw/10 - 10px), 40px);
}
.divide {
  /*   font-size: 2rem; */
}


#keyboard_container{
  position:absolute;
  height:180px;
  width:100vw;
  background:#555;
  left:0;
  right:0;
  bottom:-180px;
  margin:auto;
  transition: bottom 0.2s;
  display:flex;
  justify-content: center;
  align-items: center;
}

#keyboard{
  display:grid;
  height:180px;
  width:calc(90vw + 15px;);
  max-width:480px;
}

#keyboard div{
  background:#bbb;
  margin:3px;
  border-radius:2px;
  width:calc(90vw/5);
  max-width:80px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
}

#key_left {
  grid-row: 1/5;
  grid-column: 1;
  box-shadow:initial !important;
}

#key_7{
  grid-row: 1;
  grid-column: 2;
}
#key_8{
  grid-row: 1;
  grid-column: 3;
}
#key_9{
  grid-row: 1;
  grid-column: 4;
}
#key_back{
  grid-row: 1;
  grid-column: 5;
}
#key_4{
  grid-row: 2;
  grid-column: 2;
}
#key_5{
  grid-row: 2;
  grid-column: 3;
}
#key_6{
  grid-row: 2;
  grid-column: 4;
}
#key_1{
  grid-row: 3;
  grid-column: 2;
}
#key_2{
  grid-row: 3;
  grid-column: 3;
}
#key_3{
  grid-row: 3;
  grid-column: 4;
}
#key_0{
  grid-row: 4;
  grid-column: 3;
}
#key_enter{
  grid-row: 2/5;
  grid-column: 5;
}
#key_left{
  background:initial !important;
  cursor:initial !important;
}

#keyboard div:active{
  background:#888;
}

.moves_animation {
  animation-name: pop;
  animation-duration: 0.15s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: running;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 420px) {
  #move_excess{
    text-align:left;
    padding-left:2px;
    width:36px;
  }
}
